.card {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 3px rgb(164, 164, 164);
    margin: 16px;
    border-radius: 2px;
}

.card .card-content {
    padding: 24px;
}

@media screen and (min-width: 900px) {

}

@media screen and (min-width: 1280px) {

}
