/* GENERAL FORMATTING APPLICABLE AT ALL SCREEN SIZES */

/* Remove default formatting */

body, nav, section, ul, li, div, p, a, button {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}

/* General page structure and styles */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(212, 212, 212);
    padding-bottom: 128px;
}

div.main-content {
    position: relative;
    margin: auto;
}

/* Some elements defined by their style that are reused */

ul.relevant-skills li {
    display: inline-block;
    font-size: 90%;
    color: rgb(64, 64, 64);
    margin: 0 8px 8px 0px;
}

ul.relevant-skills li span.skill-dot {
    background-color: rgb(64, 128, 255);
    line-height: 8px;
    padding: 0 8px;
    margin-right: 4px;
    border-radius: 8px;
}

ul.relevant-skills li span.skill-dot.a {
    background-color: rgb(255, 128, 64);
}

ul.relevant-skills li span.skill-dot.b {
    background-color: rgb(128, 255, 64);
}

ul.relevant-skills li span.skill-dot.c {
    background-color: rgb(128, 64, 128);
}

ul.relevant-skills li span.skill-dot.d {
    background-color: rgb(128, 255, 255);
}

ul.relevant-skills li span.skill-dot.e {
    background-color: rgb(64, 64, 255);
}

ul.relevant-skills li span.skill-dot.f {
    background-color: rgb(255, 64, 255);
}

ul.relevant-skills li span.skill-dot.g {
    background-color: rgb(255, 255, 64);
}

ul.relevant-skills li span.skill-dot.h {
    background-color: rgb(128, 128, 16);
}

ul.relevant-skills li span.skill-dot.z {
    background-color: rgb(128, 128, 128);
}

/* Nav specifics */

nav.fixed {
    position: fixed;
    z-index: 9;
    background-color: rgb(48, 74, 112);
    height: 64px;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: top 0.4s ease-in-out;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
}

nav.fixed.hidden {
    top: -68px;
}

nav.fixed span.fa-bars {
    position: absolute;
    font-size: 24px;
    margin: 10px 16px;
    padding: 10px 16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

#nav-items {
    height: 64px;
    margin: 0 16px;
}

#nav-items .nav-item {
    color: rgb(234, 234, 234);
    display: inline-block;
    line-height: 25px;
    margin: 4px 16px 0 0;
    padding: 16px 0 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 105%;
    border-bottom: 4px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

#nav-items .nav-item:hover {
    color: rgb(255, 255, 255);
}

#nav-items .nav-item.selected {
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}

nav.side {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    top: 0;
    left: 0;
    height: 200%;
    width: 256px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.3);
    transition: left 0.2s ease-in;
}

nav.side.hidden {
    left: -278px;
}

nav.side .outside {
    display: block;
    position: fixed;
    top: 0;
    left: 256px;
    width: 100%;
    height: 100%;
}

nav.side.hidden .outside {
    display: none;
}

#dimmer {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color 0.2s ease-in;
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
}

nav.side.hidden ~ #dimmer {
    background-color: rgba(0, 0, 0, 0);
}

#side-logo {
    position: absolute;
    z-index: 11;
    font-size: 110%;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 8px 0;
    margin: 24px;
    color: rgb(48, 96, 196);
}

#side-logo .small-text {
    font-size: 50%;
}

#nav-side-items {
    margin-top: 64px;
    padding-top: 24px;
    border-top: 1px solid rgb(212, 212, 212);
}

#nav-side-items .nav-item {
    margin: 8px 0;
    padding: 8px 24px;
    width: 208px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

#nav-side-items .nav-item:hover {
    background-color: rgb(224, 224, 224);
}

nav.flipper {
    position: absolute;
    top: 48px;
    height: 82px;
}

#nav-flipper-items {
    width: 100%;
    height: 100%;
    text-align: center;
}

#nav-flipper-items .nav-item {
    display: inline-block;
    color: rgb(96, 96, 96);
    text-transform: uppercase;
    line-height: 24px;
    cursor: pointer;
}

#nav-flipper-items .nav-item:hover{
    color: rgb(32, 32, 32);
}

#nav-flipper-items .nav-item.selected {
    color: rgb(64, 128, 255);
    border-bottom: 2px solid rgb(64, 128, 255);

}

/* Contact card specifics */

#profile {
    background-color: rgb(48, 74, 112);
    overflow: visible;
    margin-top: 124px;
}

#profile-photo-wrapper {
    position: relative;
    overflow: hidden;
    height: 256px;
    width: 256px;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

#profile-photo {
    position: absolute;
    top: 0;
    left: -20px;
    max-width: 280px;
}

#profile-photo-title {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 4px;
}

#contact-name, #contact-email {
    color: rgb(255, 255, 255);
}

#contact-name {
    margin: 0 auto 0;
    font-size: 175%;
    font-weight: 600;
}

#contact-email {
    margin: 8px auto 16px;
}

#profile-photo {

}

#profile .card-content {
    position: relative;
    z-index: 2;
}

#contact-buttons {
    text-align: center;
}

#my-resume-btn {
    background-color: rgb(0, 128, 212);
}

#my-resume-btn:hover {
    background-color: rgb(0, 112, 196);
}

#my-github-btn {
    background-color: rgb(128, 72, 212);
}

#my-github-btn:hover {
    background-color: rgb(112, 64, 196);
}

/* About me card specifics */

/* Skill card specifics */

.skill-title {
    margin-bottom: 8px;
}

.filters {
    margin-bottom: 8px;
    padding-bottom: 8px;
}

.filters.final {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.filters li {
    position: relative;
    padding: 2px 36px 2px 0;
    margin-right: 8px;
    cursor: pointer;
}

.filters li label {
    position: relative;
    top: -1px;
    left: 26px;
    cursor: pointer;
}

.filters li .box {
    position: absolute;
    top: -1px;
    left: 0;
    display: inline-block;
    margin-right: 2px;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    border: solid 3px rgb(128, 128, 128);
}

.filters li .mark {
    visibility: hidden;
    position: absolute;
    top: 5px;
    left: 6px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: rgb(128, 128, 128);
}

.filters li.checked .box {
    border-color: rgb(64, 128, 255);
}

.filters li.checked .mark {
    visibility: visible;
    background-color: rgb(64, 128, 255);
}

.filters li:hover .box {
    border-color: rgb(96, 96, 96);
}

.filters li:hover .mark {
    background-color: rgb(96, 96, 96);
}

.filters li.checked:hover .box {
    border-color: rgb(56, 96, 212);
}

.filters li.checked:hover .mark {
    background-color: rgb(56, 96, 212);
}

ul.skills-list {
    margin-bottom: 20px;
}

ul.skills-list li.skill-item {
    display: inline-block;
    position: relative;
    top: 0;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    margin: 0 8px 8px 0px;
    background-color: rgb(64, 128, 255);
    border-radius: 2px;
    box-shadow: 0 2px 3px rgb(128, 128, 128);
    transition: all ease-in 0.1s;
}

ul.skills-list li.skill-item.selected {
    top: -4px;
    background-color: rgb(32, 64, 212);
    box-shadow: 0 6px 5px rgb(128, 128, 128);
}

/* Projects card specifics */

#projects-list li.project-item {
    position: relative;
    margin-bottom: 24px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

#projects-list li.project-item.final {
    margin-bottom: 0;
}

#projects-list li.project-item .project-name {
    font-size: 110%;
    margin-bottom: 16px;
    line-height: 24px;
}

#projects-list li.project-item .project-name span.fa {
    margin-right: 4px;

}

#projects-list li.project-item a.github-link {
    position: absolute;
    font-size: 80%;
    padding: 4px 16px;
    background-color: rgb(212, 0, 128);
}

#projects-list li.project-item a.github-link:hover {
    background-color: rgb(196, 0, 112);
}

#projects-list li.project-item a.github-link.blocked {
    background-color: rgb(64, 64, 64);
    box-shadow: none;
    cursor: default;
}

#projects-list li.project-item a.github-link.blocked:hover {
    background-color: rgb(64, 64, 64);
    box-shadow: none;
    cursor: default;
}

#projects-list li.project-item p.project-desc {

}

/* Education and work card specifics */

#education .card-content, #work .card-content {
    position: relative;
}

#education .content-title, #work .content-title {
    font-size: 110%;
    margin: 24px 0 8px;
}

#education .content-title.first-title, #work .content-title.first-title {
    margin-top: 0;
}

#education .designation, #work .designation {
    font-size: 110%;
}

#education .place, #work .place {
    color: rgb(124, 124, 124);
}

#education .place::before, #work .place::before {
    content: "at";
    margin: 0 4px 0 2px;
}

#education .years, #work .years {
    position: absolute;
    font-size: 110%;
    color: rgb(128, 128, 128);
}

#education .detail, #work .detail {
    margin: 8px 0 0;
}

#education .detail-header, #work .detail-header {
    margin: 16px 0 8px;
}

#courses-list {
    margin-top: 24px;
}

#courses-list.collapsed {
    height: 0;
    margin-top: 0;
    visibility: hidden;
}

#courses-list li.course-item {
    position: relative;
    border-top: 1px solid rgb(224, 224, 224);
    padding: 8px 0;
}

#courses-list li.course-item .course-name {
    margin-bottom: 12px;
}

#courses-list li.course-item .course-desc {
    color: rgb(112, 112, 112);
    font-size: 90%;
}

#courses-list li.course-item .course-duration {
    position: absolute;
    top: 8px;
    right: 0;
    color: rgb(168, 168, 168);
}

#work-details {
    margin-top: 24px;
}

#work-details.collapsed {
    margin-top: 0;
    height: 0;
    visibility: hidden;
}

#work-details li {
    list-style-type: disc;
    margin: 8px 0 16px 16px;
}

#work-details li .skill-item {
    display: inline-block;
    text-decoration: underline;
}

/* RESPONSIVE DESIGN BREAKPOINTS */

/* Mobile or very small screen desgins go here */

div.main-content {
    top: 96px;
}

nav.fixed {
    top: 0;
}

#nav-items {
    display: none;
}

nav div.main-content {
    top: 0;
}

#profile-photo-wrapper {
    top: -128px;
    margin: 0 auto -128px;
}

nav.flipper {
    visibility: hidden;
}

#my-resume-btn, #my-github-btn {
    display: block;
    max-width: 400px;
    margin: 16px auto;
}

.filters li {
    display: block;
    margin-bottom: 8px;
}

#projects-list .project-item {
    padding-bottom: 64px;
}

#projects-list .project-item .github-link {
    left: 0;
    bottom: 24px;
}

#education .years, #work .years {
    position: relative;
    margin-top: 8px;
    margin-bottom: 16px;
}

/* Narrow screen designs go here */
@media screen and (min-width: 900px) {

    div.main-content {
        width: 768px;
    }

    #contact-info, #resume-info {
        width: 768px;
    }

    nav.fixed {
        text-align: center;
        top: 0;
    }

    nav.fixed span.fa-bars {
        display: none;
    }

    #nav-items {
        display: inline;
    }

    nav.side {
        left: -280px;
    }

    #dimmer {
        display: none;
    }

    #my-resume-btn, #my-github-btn {
        display: inline-block;
        margin: 16px 8px;;
    }

    .filters li {
        display: inline-block;
        margin-bottom: 0;
    }

    #projects-list .project-item {
        padding-bottom: 24px;
    }

    #projects-list .project-item .github-link {
        top: 0;
        right: 0;
        bottom: auto;
        left: auto;
    }

    #education .place, #work .place {
        margin-bottom: 16px;
    }

    #education .years, #work .years {
        position: absolute;
        top: 24px;
        right: 24px;
        margin-top: 0;
        margin-bottom: 0;
    }

}

/* Normal screen designs go here */
@media screen and (min-width: 1300px) {

    div.main-content {
        min-width: 1216px;
        width: 1216px;
        top: 24px;
    }

    nav.fixed {
        top: -100px;
    }

    #contact-info, #resume-info {
        display: inline-block;
        vertical-align: top;
        width: 576px;
    }

    #profile {
        position: absolute;
        z-index: 2;
        margin-top: 154px;
    }

    nav.flipper {
        visibility: visible;
        left: 580px;
    }

    #nav-flipper-items .nav-item {
        padding: 12px 0;
        margin: 16px 8px 12px;
    }

    #about-me, #skills, #projects, #education, #work {
        /*max-height: 480px;
        overflow-y: scroll;*/
    }

    .card {
        position: absolute;
        top: 0;
        z-index: 1;
        transition: transform 0.5s ease-in;
        -webkit-transition: transform 0.5s ease-in;
        -moz-transition: transform 0.5s ease-in;
        -o-transition: transform 0.5s ease-in;
        backface-visibility: hidden;
    }

    .card.visible {
        top: 140px;
        left: 580px;
        transform: rotateY(0);
    }

    .card.hidden {
        top: 140px;
        left: 580px;
        transform: rotateY(180deg);
    }
}

/* Wide screen designs go here */
@media screen and (min-width: 1700px) {

    div.main-content {
        min-width: 1600px;
        width: 1600px;
    }

    #contact-info, #resume-info {
        display: inline-block;
        vertical-align: top;
        width: 768px;
        padding-top: 96px;
    }

    nav.flipper {
        left: 772px;
    }

    #nav-flipper-items .nav-item {
        padding: 12px 0;
        margin: 16px 16px 12px;
    }

    .card.visible, .card.hidden {
        left: 772px;
    }
}
