/* GENERAL FORMATTING APPLICABLE AT ALL SCREEN SIZES */

/* Remove default formatting */

body, nav, section, ul, li, div, p {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    list-style: none;
}

/* General page structure and styles */

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(212, 212, 212);
}

nav {
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(64, 128, 255);
    height: 96px;
    width: 100%;
    box-shadow: 0 2px 10px rgb(128, 128, 128);
}

/* Nav bar specifics */

#nav-items {
    position: absolute;
    left: 128px;
    bottom: 0;
}

#nav-items .nav-item {
    display: inline-block;
    margin: 0 8px 0;
    padding: 32px 8px 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 105%;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
}

#nav-items .nav-item:hover {
    border-bottom: 3px solid rgb(255, 255, 255);
}

/* Contact card specifics */

#profile {
    background-color: rgb(64, 128, 255);
}

#profile-photo-wrapper {
    position: relative;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

#profile-photo-title {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 4px;
}

#contact-name, #contact-email {
    color: rgb(255, 255, 255);
}

#contact-name {
    margin: 0 36px 0;
    font-size: 175%;
    font-weight: 600;
}

#contact-email {
    margin: 8px 36px 16px;
}

#profile-photo {
    min-height: 100%;
    width: 100%;
}

#profile .card-content {
    position: relative;
    z-index: 2;
    box-shadow: 0 -64px 100px rgb(0, 0, 0);
}

#contact-buttons {
    text-align: center;
}

#my-resume-btn {
    margin-right: 16px;
    background-color: rgb(0, 164, 32);
}

#my-resume-btn:hover {
    background-color: rgb(0, 148, 28);
}

#my-github-btn {
    margin-left: 16px;
    background-color: rgb(212, 0, 128);
}

#my-github-btn:hover {
    background-color: rgb(196, 0, 112);
}

/* About me card specifics */

/* Skill card specifics */

.skill-title {
    margin-bottom: 8px;
}

ul.skills-list {
    margin-bottom: 20px;
}

ul.skills-list li.skill-item {
    display: inline-block;
    position: relative;
    top: 0;
    color: rgb(255, 255, 255);
    padding: 4px 8px;
    margin: 0 8px 8px 0px;
    background-color: rgb(64, 128, 255);
    border-radius: 2px;
    box-shadow: 0 2px 3px rgb(128, 128, 128);
    transition: all ease-in 0.1s;
}

ul.skills-list li.skill-item.selected {
    top: -4px;
    background-color: rgb(32, 64, 212);
    box-shadow: 0 6px 5px rgb(128, 128, 128);
}

/* Projects card specifics */

#projects-list li.project-item {
    position: relative;
}

#projects-list li.project-item .project-name {
    font-size: 110%;
    margin-bottom: 16px;
    line-height: 24px;
}

#projects-list li.project-item .project-name span.fa {
    margin-right: 4px;
}

#projects-list li.project-item a.github-link {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 80%;
    padding: 4px 16px;
    background-color: rgb(212, 0, 128);
}

#projects-list li.project-item a.github-link:hover {
    background-color: rgb(196, 0, 112);
}

#projects-list li.project-item p.project-desc {

}

#projects-list li.project-item ul.relevant-skills li {
    display: inline-block;
    font-size: 90%;
    color: rgb(64, 64, 64);
    margin: 0 8px 8px 0px;
}

#projects-list li.project-item ul.relevant-skills li span.skill-dot {
    background-color: rgb(64, 128, 255);
    line-height: 8px;
    padding: 0 8px;
    margin-right: 4px;
    border-radius: 8px;
}

/* Education and work card specifics */

#education .card-content, #work .card-content {
    position: relative;
}

#education .content-title, #work .content-title {
    font-size: 110%;
    margin: 24px 0 8px;
}

#education .content-title.first-title, #work .content-title.first-title {
    margin-top: 0;
}

#education .designation, #work .designation {
    font-size: 110%;
}

#education .place, #work .place {
    margin-bottom: 16px;
}

#education .place::before, #work .place::before {
    content: "at";
    margin: 0 4px 0 2px;
}
#education .years, #work .years {
    position: absolute;
    top: 24px;
    right: 24px;
    color: rgb(128, 128, 128);
}

#education .detail, #work .detail {
    margin: 8px 0 0;
}

/* RESPONSIVE DESIGN BREAKPOINTS */

/* Mobile or very small screen desgins go here */

/* Narrow screen designs go here */
@media screen and (min-width: 900px) {

    #contact-info, #resume-info {
        margin-left: 128px;
        width: 576px;
    }

    #profile-photo-wrapper {
        height: 512px;
    }

}

/* Normal/wide screen designs go here */
@media screen and (min-width: 1280px) {

    #contact-info, #resume-info {
        display: inline-block;
        vertical-align: top;
    }

    #resume-info {
        margin-left: 0;
    }

}
